* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    background-color: #52796f;
    justify-content: space-between;
    padding: 12px 20px;
    color: white;
}
.cart-container {
    position: relative;
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 30px;
    border-radius: 10px;
    overflow: hidden;

}
.cart-container h4 {
    position: absolute;
    top: -7px;
    right: 0;
    background-color: red;

    border-radius: 10px;
    
   
}
.image-container {
    padding: 10px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 310px);;
    
    justify-content: center;
}
.images {
    border: 2px solid #52796f ;
}
.images img {
    width: 100%;
    height: 300px;   
}
.btn {
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 6px;
    font-size: larger;
    background-color: #52796f;
    margin-left: 80px;
}
.description {
    padding: 8px;
}
.same-button {
    width: 30px;
    height: 23px;
    background-color: #52796f;
    border: none;
    border-radius: 5px;
}
.inputs input {
    width: 30px;
}
.inputs {
    margin-left:85px;
    padding: 10px;
}